.searchNav {
  display: flex;
  border: 1px solid #dbdffd;
  border-radius: 3px;
  padding: 5px;
  align-items: center;
}

.searchInput {
  border: none;
  background-color: transparent;
  color: #dbdffd;
}

.searchInput:focus {
  outline: none;
}
